label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 5px;
    font-weight: 700;
}

input, select {
    border-color: rgba(71, 48, 173, 0.5);
    box-shadow: 0 0 5px #ccc;
}
